* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-form__box {
    box-shadow: 0 0 17px 1px #1d1f26;
    background: #f7f7fa;
    padding: 24px;
    width: 250px;
}
label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}
.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}
input {
    border: 1px solid #eee;
    padding: 12px;
    outline: 0;
}
.centered-form button {
    width: 100%;
}

/* sidebar */

.chat {
	display: flex;
	height: 100%;
}
.chat__sidebar {
	height: 100vh;
	color: #FFF;
	min-width: 20%;
	background-color: #1c5884;
	padding: 1rem 2rem;
}
.site-title {
	text-align: center;
	font-family: 'Michroma', sans-serif;
	padding: 0rem 2rem 1rem 2rem;
	background-color: #1c5884;
}
h1 {
	font-family: 'Michroma', sans-serif;
}
.room-title {
	text-align: center;
	text-transform: uppercase;
	padding: 1rem 0rem;
}
.users {
	list-style: none;
}
.users li {
	font-size: 0.80rem;
}

/* Message area */
.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 0rem 2rem;
}
.chat__messages {
	flex-grow: 1;
	padding: 1rem 1rem;
	overflow-y: scroll;
}
.message {
	border: 1px solid #dcdcdc;
    padding: 0.4rem;
    margin: 0.2rem 0rem;
}
.message__name {
	font-weight: 700;
	text-transform: capitalize;
}
.message__meta {
	font-size: 0.5em;
}
.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}
.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}
.compose input {
    border: 1px solid #eee;
    width: 100%;
    padding: 0rem 1rem;
    margin: 0 1rem 0 0;
    flex-grow: 1;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #48b;
    border: none;
    color: #fff;
    transition: background .3s ease;
}
button:hover {
    background: #1c5884;
}

/* mq */

@media (max-width: 1024px) {
	.chat {
		flex-direction: column;
	}
	.chat__main {
	    min-height: 100vh;
	    padding: 0rem 2rem;
	}
	.list-title {
		display: none;
	}
	.users {
		display: none;
	}
	.users li {
	    font-size: 0.80rem;
	    background-color: #033050;
	    padding: 0.1rem;
	}
} 